{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Analysis {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script>

<div class="container-fluid py-4">
  <div class="row min-vh-80 h-100">
    <div class="col-12">
      Analysis
      <div id="symbol-table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Symbols</th>
            <th scope="col">Chart</th>
            <th scope="col">No. of Fav.</th>
            <th scope="col">Favourite</th>
          </tr>
        </thead>
        <tbody>
          {% for item in symbols %}
          <tr> 
            <th scope="row">{{ item.pk }}</th>
            <td>{{ item.symbol }}</td>
            <td><a href="{{ item.symbol }}">see details</href></td>
            <td id="{{ item.pk }}" class="counter">
              {{ item.favourites.count }}
            </td>
            <td class="favourite">
              <button onclick="favouriteSymbol(this)" id="{{ item.pk }}" > 
                {% if item in favourites %} Remove {% else %} Add {% endif %} 
              </button> 
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% csrf_token %}
      </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
const favouriteSymbol = function(button){

    symbol_id = $(button).attr('id');
    $.ajax({
        type:'POST',
        url: '/api/data/favourite/',
        data: {
        'symbol_id': symbol_id,
        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
        },

        success: function (response) {
            if(response){
                $(button).html('Remove');
                current_favourites = parseInt($('#' + symbol_id).html()) ;
                $('#' + symbol_id).html(current_favourites + 1);

            }
            else{
                $(button).html('Add');
                current_favourites = parseInt($('#' + symbol_id).html()) ;
                $('#' + symbol_id).html(current_favourites - 1);
            };
        },

        error: () =>{
            console.log("sorry something went wrong"); // Use alert or notify user
        }
    })
};
</script>
{% endblock javascripts %}
