{% extends "layouts/base.html" %}

{% block title %} Portfolio {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        Portfolio
        {% comment %} {% include 'includes/pnl-chart.html' %} {% endcomment %}
        <form enctype="multipart/form-data" action="/portfolio/" method="post">
            {% csrf_token %}
            <label for="order_csv">CSV file: </label>
            <input id="order_csv" type="file" name="order_csv" value="{{ current_name }}" required>
            <input type="submit" value="upload">
        </form>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
