{% load static %}
<div
  style="
    position: relative;
    box-sizing: content-box;
    width: 100%;
    height: 610px;
    margin: 0 auto !important;
    padding: 0 !important;
  "
>
  <div style=" width: 100%; height: 610px; background: transparent; padding: 0 !important; ">
    <iframe
      id="tradingview_6a65f"
      src = "{% static 'assets/html/pnl-chart.html' %}"
      style="
        width: 100%;
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
      "
      allowtransparency="true"
      scrolling="no"
      allowfullscreen=""
      frameborder="0"
    ></iframe>
  </div>
</div>
