<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<div id="pnl-chart" style="position: relative; width: 80%; height: 80%">
  <!-- Lightweight Charts Attribution Message and Link -->
</div>
<script type="text/javascript">
  // Function to generate a sample set of Candlestick datapoints
  function generateCandlestickData() {
    return [
      {
        time: {
          day: 19,
          month: 10,
          year: 2018,
        },
        value: 180.095,
      },
      {
        time: {
          day: 22,
          month: 10,
          year: 2018,
        },
        value: 179.785,
      },
      {
        time: {
          day: 23,
          month: 10,
          year: 2018,
        },
        value: 177.15,
      },
      {
        time: {
          day: 24,
          month: 10,
          year: 2018,
        },
        value: 177.775,
      },
      {
        time: {
          day: 25,
          month: 10,
          year: 2018,
        },
        value: 178.29500000000002,
      },
      {
        time: {
          day: 26,
          month: 10,
          year: 2018,
        },
        value: 174.555,
      },
      {
        time: {
          day: 29,
          month: 10,
          year: 2018,
        },
        value: 173.47,
      },
      {
        time: {
          day: 30,
          month: 10,
          year: 2018,
        },
        value: 174.7,
      },
      {
        time: {
          day: 31,
          month: 10,
          year: 2018,
        },
        value: 176.93,
      },
      {
        time: {
          day: 1,
          month: 11,
          year: 2018,
        },
        value: 178.65,
      },
      {
        time: {
          day: 2,
          month: 11,
          year: 2018,
        },
        value: 181.2,
      },
      {
        time: {
          day: 5,
          month: 11,
          year: 2018,
        },
        value: 181.60500000000002,
      },
      {
        time: {
          day: 6,
          month: 11,
          year: 2018,
        },
        value: 181.97,
      },
      {
        time: {
          day: 7,
          month: 11,
          year: 2018,
        },
        value: 185.51,
      },
      {
        time: {
          day: 8,
          month: 11,
          year: 2018,
        },
        value: 187.565,
      },
      {
        time: {
          day: 9,
          month: 11,
          year: 2018,
        },
        value: 187.155,
      },
      {
        time: {
          day: 12,
          month: 11,
          year: 2018,
        },
        value: 182.32999999999998,
      },
      {
        time: {
          day: 13,
          month: 11,
          year: 2018,
        },
        value: 178.15,
      },
      {
        time: {
          day: 14,
          month: 11,
          year: 2018,
        },
        value: 181.255,
      },
      {
        time: {
          day: 15,
          month: 11,
          year: 2018,
        },
        value: 178.185,
      },
      {
        time: {
          day: 16,
          month: 11,
          year: 2018,
        },
        value: 175.505,
      },
      {
        time: {
          day: 19,
          month: 11,
          year: 2018,
        },
        value: 175.15,
      },
      {
        time: {
          day: 20,
          month: 11,
          year: 2018,
        },
        value: 169.15,
      },
      {
        time: {
          day: 21,
          month: 11,
          year: 2018,
        },
        value: 169.65,
      },
      {
        time: {
          day: 23,
          month: 11,
          year: 2018,
        },
        value: 169.12,
      },
      {
        time: {
          day: 26,
          month: 11,
          year: 2018,
        },
        value: 170.01,
      },
      {
        time: {
          day: 27,
          month: 11,
          year: 2018,
        },
        value: 171.16500000000002,
      },
      {
        time: {
          day: 28,
          month: 11,
          year: 2018,
        },
        value: 175.17000000000002,
      },
      {
        time: {
          day: 29,
          month: 11,
          year: 2018,
        },
        value: 176.23000000000002,
      },
      {
        time: {
          day: 30,
          month: 11,
          year: 2018,
        },
        value: 178.035,
      },
      {
        time: {
          day: 3,
          month: 12,
          year: 2018,
        },
        value: 182.515,
      },
      {
        time: {
          day: 4,
          month: 12,
          year: 2018,
        },
        value: 178.18,
      },
      {
        time: {
          day: 6,
          month: 12,
          year: 2018,
        },
        value: 174.73000000000002,
      },
      {
        time: {
          day: 7,
          month: 12,
          year: 2018,
        },
        value: 174.07,
      },
      {
        time: {
          day: 10,
          month: 12,
          year: 2018,
        },
        value: 172.54,
      },
      {
        time: {
          day: 11,
          month: 12,
          year: 2018,
        },
        value: 173.255,
      },
      {
        time: {
          day: 12,
          month: 12,
          year: 2018,
        },
        value: 173.98000000000002,
      },
      {
        time: {
          day: 13,
          month: 12,
          year: 2018,
        },
        value: 174.09,
      },
      {
        time: {
          day: 14,
          month: 12,
          year: 2018,
        },
        value: 172.635,
      },
      {
        time: {
          day: 17,
          month: 12,
          year: 2018,
        },
        value: 169.74,
      },
      {
        time: {
          day: 18,
          month: 12,
          year: 2018,
        },
        value: 169.47,
      },
      {
        time: {
          day: 19,
          month: 12,
          year: 2018,
        },
        value: 169.24,
      },
      {
        time: {
          day: 20,
          month: 12,
          year: 2018,
        },
        value: 165.22,
      },
      {
        time: {
          day: 21,
          month: 12,
          year: 2018,
        },
        value: 161.64499999999998,
      },
      {
        time: {
          day: 24,
          month: 12,
          year: 2018,
        },
        value: 159.14999999999998,
      },
      {
        time: {
          day: 26,
          month: 12,
          year: 2018,
        },
        value: 163.87,
      },
      {
        time: {
          day: 27,
          month: 12,
          year: 2018,
        },
        value: 168.38,
      },
      {
        time: {
          day: 28,
          month: 12,
          year: 2018,
        },
        value: 170.72,
      },
      {
        time: {
          day: 31,
          month: 12,
          year: 2018,
        },
        value: 171.64499999999998,
      },
      {
        time: {
          day: 2,
          month: 1,
          year: 2019,
        },
        value: 171.06,
      },
      {
        time: {
          day: 3,
          month: 1,
          year: 2019,
        },
        value: 170.22500000000002,
      },
      {
        time: {
          day: 4,
          month: 1,
          year: 2019,
        },
        value: 171.9,
      },
      {
        time: {
          day: 7,
          month: 1,
          year: 2019,
        },
        value: 175.435,
      },
      {
        time: {
          day: 8,
          month: 1,
          year: 2019,
        },
        value: 178.23,
      },
      {
        time: {
          day: 9,
          month: 1,
          year: 2019,
        },
        value: 178.8,
      },
      {
        time: {
          day: 10,
          month: 1,
          year: 2019,
        },
        value: 178.54500000000002,
      },
      {
        time: {
          day: 11,
          month: 1,
          year: 2019,
        },
        value: 178.67000000000002,
      },
      {
        time: {
          day: 14,
          month: 1,
          year: 2019,
        },
        value: 178.2,
      },
      {
        time: {
          day: 15,
          month: 1,
          year: 2019,
        },
        value: 176.275,
      },
      {
        time: {
          day: 16,
          month: 1,
          year: 2019,
        },
        value: 177.065,
      },
      {
        time: {
          day: 17,
          month: 1,
          year: 2019,
        },
        value: 174.44,
      },
      {
        time: {
          day: 18,
          month: 1,
          year: 2019,
        },
        value: 178.28,
      },
      {
        time: {
          day: 22,
          month: 1,
          year: 2019,
        },
        value: 177.3,
      },
      {
        time: {
          day: 23,
          month: 1,
          year: 2019,
        },
        value: 176.74,
      },
      {
        time: {
          day: 24,
          month: 1,
          year: 2019,
        },
        value: 177.14499999999998,
      },
      {
        time: {
          day: 25,
          month: 1,
          year: 2019,
        },
        value: 180.09,
      },
      {
        time: {
          day: 28,
          month: 1,
          year: 2019,
        },
        value: 179.4,
      },
      {
        time: {
          day: 29,
          month: 1,
          year: 2019,
        },
        value: 179.325,
      },
      {
        time: {
          day: 30,
          month: 1,
          year: 2019,
        },
        value: 181.325,
      },
      {
        time: {
          day: 31,
          month: 1,
          year: 2019,
        },
        value: 182.515,
      },
      {
        time: {
          day: 1,
          month: 2,
          year: 2019,
        },
        value: 184.2,
      },
      {
        time: {
          day: 4,
          month: 2,
          year: 2019,
        },
        value: 185.365,
      },
      {
        time: {
          day: 5,
          month: 2,
          year: 2019,
        },
        value: 186.64,
      },
      {
        time: {
          day: 6,
          month: 2,
          year: 2019,
        },
        value: 185.70499999999998,
      },
      {
        time: {
          day: 7,
          month: 2,
          year: 2019,
        },
        value: 183.905,
      },
      {
        time: {
          day: 8,
          month: 2,
          year: 2019,
        },
        value: 183.79500000000002,
      },
      {
        time: {
          day: 11,
          month: 2,
          year: 2019,
        },
        value: 183.95999999999998,
      },
      {
        time: {
          day: 12,
          month: 2,
          year: 2019,
        },
        value: 184.68,
      },
      {
        time: {
          day: 13,
          month: 2,
          year: 2019,
        },
        value: 187.35500000000002,
      },
      {
        time: {
          day: 14,
          month: 2,
          year: 2019,
        },
        value: 187.60500000000002,
      },
      {
        time: {
          day: 15,
          month: 2,
          year: 2019,
        },
        value: 191.13,
      },
      {
        time: {
          day: 19,
          month: 2,
          year: 2019,
        },
        value: 192.02,
      },
      {
        time: {
          day: 20,
          month: 2,
          year: 2019,
        },
        value: 192.12,
      },
      {
        time: {
          day: 21,
          month: 2,
          year: 2019,
        },
        value: 191.83499999999998,
      },
      {
        time: {
          day: 22,
          month: 2,
          year: 2019,
        },
        value: 192.04,
      },
      {
        time: {
          day: 25,
          month: 2,
          year: 2019,
        },
        value: 191.365,
      },
      {
        time: {
          day: 26,
          month: 2,
          year: 2019,
        },
        value: 186.945,
      },
      {
        time: {
          day: 27,
          month: 2,
          year: 2019,
        },
        value: 185.785,
      },
      {
        time: {
          day: 28,
          month: 2,
          year: 2019,
        },
        value: 184.37,
      },
      {
        time: {
          day: 1,
          month: 3,
          year: 2019,
        },
        value: 185.495,
      },
      {
        time: {
          day: 4,
          month: 3,
          year: 2019,
        },
        value: 185.005,
      },
      {
        time: {
          day: 5,
          month: 3,
          year: 2019,
        },
        value: 184.12,
      },
      {
        time: {
          day: 6,
          month: 3,
          year: 2019,
        },
        value: 184.49,
      },
      {
        time: {
          day: 7,
          month: 3,
          year: 2019,
        },
        value: 183.45,
      },
      {
        time: {
          day: 8,
          month: 3,
          year: 2019,
        },
        value: 181.36,
      },
      {
        time: {
          day: 11,
          month: 3,
          year: 2019,
        },
        value: 182.22,
      },
      {
        time: {
          day: 12,
          month: 3,
          year: 2019,
        },
        value: 183.715,
      },
      {
        time: {
          day: 13,
          month: 3,
          year: 2019,
        },
        value: 182.19,
      },
      {
        time: {
          day: 14,
          month: 3,
          year: 2019,
        },
        value: 181.445,
      },
      {
        time: {
          day: 15,
          month: 3,
          year: 2019,
        },
        value: 182.265,
      },
      {
        time: {
          day: 18,
          month: 3,
          year: 2019,
        },
        value: 182.975,
      },
      {
        time: {
          day: 19,
          month: 3,
          year: 2019,
        },
        value: 184.16,
      },
      {
        time: {
          day: 20,
          month: 3,
          year: 2019,
        },
        value: 185.2,
      },
      {
        time: {
          day: 21,
          month: 3,
          year: 2019,
        },
        value: 187.735,
      },
      {
        time: {
          day: 22,
          month: 3,
          year: 2019,
        },
        value: 189.03,
      },
      {
        time: {
          day: 25,
          month: 3,
          year: 2019,
        },
        value: 189.215,
      },
      {
        time: {
          day: 26,
          month: 3,
          year: 2019,
        },
        value: 190.015,
      },
      {
        time: {
          day: 27,
          month: 3,
          year: 2019,
        },
        value: 189.45,
      },
      {
        time: {
          day: 28,
          month: 3,
          year: 2019,
        },
        value: 189.985,
      },
      {
        time: {
          day: 29,
          month: 3,
          year: 2019,
        },
        value: 191.37,
      },
      {
        time: {
          day: 1,
          month: 4,
          year: 2019,
        },
        value: 194.315,
      },
      {
        time: {
          day: 2,
          month: 4,
          year: 2019,
        },
        value: 194.905,
      },
      {
        time: {
          day: 3,
          month: 4,
          year: 2019,
        },
        value: 196.79500000000002,
      },
      {
        time: {
          day: 4,
          month: 4,
          year: 2019,
        },
        value: 199.725,
      },
      {
        time: {
          day: 5,
          month: 4,
          year: 2019,
        },
        value: 201.46,
      },
      {
        time: {
          day: 8,
          month: 4,
          year: 2019,
        },
        value: 202.46,
      },
      {
        time: {
          day: 9,
          month: 4,
          year: 2019,
        },
        value: 201.57999999999998,
      },
      {
        time: {
          day: 10,
          month: 4,
          year: 2019,
        },
        value: 200.345,
      },
      {
        time: {
          day: 11,
          month: 4,
          year: 2019,
        },
        value: 200.69,
      },
      {
        time: {
          day: 12,
          month: 4,
          year: 2019,
        },
        value: 202.99,
      },
      {
        time: {
          day: 15,
          month: 4,
          year: 2019,
        },
        value: 204.51,
      },
      {
        time: {
          day: 16,
          month: 4,
          year: 2019,
        },
        value: 204.86,
      },
      {
        time: {
          day: 17,
          month: 4,
          year: 2019,
        },
        value: 205.945,
      },
      {
        time: {
          day: 18,
          month: 4,
          year: 2019,
        },
        value: 205.84,
      },
      {
        time: {
          day: 22,
          month: 4,
          year: 2019,
        },
        value: 204.445,
      },
      {
        time: {
          day: 23,
          month: 4,
          year: 2019,
        },
        value: 205.595,
      },
      {
        time: {
          day: 24,
          month: 4,
          year: 2019,
        },
        value: 206.44,
      },
      {
        time: {
          day: 25,
          month: 4,
          year: 2019,
        },
        value: 206.255,
      },
      {
        time: {
          day: 26,
          month: 4,
          year: 2019,
        },
        value: 204.745,
      },
      {
        time: {
          day: 29,
          month: 4,
          year: 2019,
        },
        value: 202.735,
      },
      {
        time: {
          day: 30,
          month: 4,
          year: 2019,
        },
        value: 202.625,
      },
      {
        time: {
          day: 1,
          month: 5,
          year: 2019,
        },
        value: 201,
      },
      {
        time: {
          day: 2,
          month: 5,
          year: 2019,
        },
        value: 200.155,
      },
      {
        time: {
          day: 3,
          month: 5,
          year: 2019,
        },
        value: 201.28,
      },
      {
        time: {
          day: 6,
          month: 5,
          year: 2019,
        },
        value: 199.185,
      },
      {
        time: {
          day: 7,
          month: 5,
          year: 2019,
        },
        value: 195.76,
      },
      {
        time: {
          day: 8,
          month: 5,
          year: 2019,
        },
        value: 194.82999999999998,
      },
      {
        time: {
          day: 9,
          month: 5,
          year: 2019,
        },
        value: 193.945,
      },
      {
        time: {
          day: 10,
          month: 5,
          year: 2019,
        },
        value: 193.895,
      },
      {
        time: {
          day: 13,
          month: 5,
          year: 2019,
        },
        value: 190.67000000000002,
      },
      {
        time: {
          day: 14,
          month: 5,
          year: 2019,
        },
        value: 191.06,
      },
      {
        time: {
          day: 15,
          month: 5,
          year: 2019,
        },
        value: 191.285,
      },
      {
        time: {
          day: 16,
          month: 5,
          year: 2019,
        },
        value: 192.425,
      },
      {
        time: {
          day: 17,
          month: 5,
          year: 2019,
        },
        value: 191.72000000000003,
      },
      {
        time: {
          day: 20,
          month: 5,
          year: 2019,
        },
        value: 191.04,
      },
      {
        time: {
          day: 21,
          month: 5,
          year: 2019,
        },
        value: 189.29,
      },
      {
        time: {
          day: 22,
          month: 5,
          year: 2019,
        },
        value: 189.7,
      },
      {
        time: {
          day: 23,
          month: 5,
          year: 2019,
        },
        value: 190.225,
      },
      {
        time: {
          day: 24,
          month: 5,
          year: 2019,
        },
        value: 193.065,
      },
    ];
  }

  // Create the Lightweight Chart within the container element
  const chart = LightweightCharts.createChart(
    document.getElementById("pnl-chart"),
    {
      layout: {
        background: { color: "#222" },
        textColor: "#fff",
      },
      grid: {
        vertLines: { color: "#344767" },
        horzLines: { color: "#344767" },
      },
    }
  );

  // Setting the border color for the vertical axis
  chart.priceScale().applyOptions({
    borderColor: "#7b809a4d",
  });

  // Setting the border color for the horizontal axis
  // Adjust the starting bar width (essentially the horizontal zoom)
  chart.timeScale().applyOptions({
    borderColor: "#7b809a4d",
    barSpacing: 10,
  });

  // Get the current users primary locale
  const currentLocale = window.navigator.languages[0];
  // Create a number format using Intl.NumberFormat
  const myPriceFormatter = Intl.NumberFormat(currentLocale, {
    style: "currency",
    currency: "INR", // Currency for data points
  }).format;

  chart.applyOptions({
    // Apply the custom priceFormatter to the chart
    localization: {
      priceFormatter: myPriceFormatter,
    },
    // Customizing the Crosshair
    crosshair: {
      // Change mode from default 'magnet' to 'normal'.
      // Allows the crosshair to move freely without snapping to datapoints
      mode: LightweightCharts.CrosshairMode.Normal,

      // Vertical crosshair line (showing Date in Label)
      vertLine: {
        width: 4,
        color: "#C3BCDB44",
        style: LightweightCharts.LineStyle.Solid,
        labelBackgroundColor: "#9B7DFF",
      },

      // Horizontal crosshair line (showing Price in Label)
      horzLine: {
        color: "#9B7DFF",
        labelBackgroundColor: "#9B7DFF",
      },
    },
  });

  // Generate sample data to use within a candlestick series
  const lineData = generateCandlestickData();

  const baselineSeries = chart.addBaselineSeries({
    baseValue: { type: "price", price: lineData.at(-1)["value"] },
    topLineColor: "rgba( 38, 166, 154, 1)",
    topFillColor1: "rgba( 38, 166, 154, 0.28)",
    topFillColor2: "rgba( 38, 166, 154, 0.05)",
    bottomLineColor: "rgba( 239, 83, 80, 1)",
    bottomFillColor1: "rgba( 239, 83, 80, 0.05)",
    bottomFillColor2: "rgba( 239, 83, 80, 0.28)",
  });
  baselineSeries.setData(lineData);

  // Adjust the options for the priceScale of the baselineSeries
  baselineSeries.priceScale().applyOptions({
    autoScale: false, // disables auto scaling based on visible content
    scaleMargins: {
      top: 0.1,
      bottom: 0.2,
    },
  });

  // Adding a window resize event handler to resize the chart when
  // the window size changes.
  // Note: for more advanced examples (when the chart doesn't fill the entire window)
  // you may need to use ResizeObserver -> https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver
  window.addEventListener("resize", () => {
    chart.resize(window.innerWidth, window.innerHeight);
  });
</script>
