
{% extends "base.html" %}
{% load static %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script>
<script src="{% static 'js/favourite.js' %}"></script>

<div id="symbol-table">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Symbols</th>
      <th scope="col">Chart</th>
      <th scope="col">No. of Fav.</th>
      <th scope="col">Favourite</th>
    </tr>
  </thead>
  <tbody>
    {% for item in symbols %}
    <tr> 
      <th scope="row">{{ item.pk }}</th>
      <td>{{ item.symbol }}</td>
      <td><a href="{{ item.symbol }}">see details</href></td>
      <td>
        <p id="{{ item.pk }}" class="counter"> {{ item.favourites.count }} </p>
      </td>
      <td class="favourite">
        <button onclick="favouriteSymbol(this)" id="{{ item.pk }}" > {% if item in favourites %} Remove {% else %} Add {% endif %} </button> 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% csrf_token %}
</div>

{% endblock body %}
